@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-egais: #2291ff;
  --color-edo: #00bea2;
  --color-eis: #366af3;
  --color-chesznak: #f6f32e;
  --color-fts: #26ad50;
}

.page {
  display: grid;
  grid: 0.2fr 2fr 0.2fr / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Inter", sans-serif;
  background: #fff;
  inline-size: 100vw;
  block-size: 100dvh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border-block-end: 2px solid #f6f6f6;
  padding: 24px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  user-select: none;
}

.header__logo-image {
  inline-size: 32px;
  block-size: 32px;
}

.header__logo-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

.header__nav {
  display: flex;
  gap: 24px;
}

.header__nav-link {
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.header__nav-link:hover {
  color: #fff;
  background-color: #000;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  align-content: start;
  gap: 24px;
  padding: 24px;
}

.main__description-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__description-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.5;
}

.main__description {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  word-break: break-word;
  text-wrap: balance;
  white-space: pre-line;
}

.main__tasks-container {
  display: flex;
  flex: 1 1 auto;
}

.main__tasks-input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__tasks-input {
  border: none;
  border-radius: 12px;
  padding: 12px;
  background-color: #f6f6f6;
}

.main__tasks-input::placeholder {
  color: #adadad;
  font-size: 14px;
}

.main__tasks-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main__tasks-list-item {
  border-radius: 12px;
  padding: 12px;
  font-size: 14px;
  background-color: #f6f6f6;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: space-between;
  align-items: center;
  border-block-start: 2px solid #f6f6f6;
  padding: 24px;
}

.footer__phone-number {
  text-decoration: none;
  text-underline-offset: 4px;
  transition: all 0.15s ease-in-out;
}

.footer__phone-number:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .main__description-title {
    font-size: 24px;
    line-height: 1.2;
  }

  .main__description {
    font-size: 16px;
    line-height: 1.4;
  }

  .main__service-title {
    font-weight: 300;
    font-size: 36px;
  }

  .main__dialog-title {
    font-weight: 600;
    font-size: 16px;
  }

  .main__dialog-text {
    font-size: 14px;
  }

  .main__dialog-button {
    align-self: stretch;
    font-size: 14px;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    font-size: 12px;
  }
}